bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
VRC-OSC-AudioEars.sln.DotSettings.user

.vs/VRC-OSC-AudioEars/v17/.suo

.vs/VRC-OSC-AudioEars/v17/.futdcache.v1

.vs/VRC-OSC-AudioEars/DesignTimeBuild/.dtbcache.v2
